div {
  margin: 0;
  padding: 0;}

div div {
/* this sets the colour for the android  */
/*  background: #A4CA39; */
  background: pink;
  position: relative;
}

div div div{
/* this sets the colour for the android  */
/*  background: #A4CA39; */
  background: pink;
  position: relative;
}
.android{
	height: 404px; width: 334px;
	margin: 100px auto;
}

.head{
/* this sets the shape of the head of the android  */
	width: 220px; height: 100px;
  border-radius: 110px 110px 0 0;
  -moz-border-radius: 110px 110px 0 0;
  -webkit-border-radius: 110px 110px 0 0;
  top: 32px;
}
.l_eye, .r_eye {
  /* this sets the shape of the eyes of the android  */
	background: #fff;
	width: 20px; height: 20px;
  position: absolute;
  top: 42px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/* this sets the position of the eyes of the android  */
.l_eye{
  left:50px;
}
.r_eye{
  right:50px;
}
/* this sets the shape of the antenna of the android  */
.l_ant, .r_ant{
  width: 6px;
  height: 50px;
  position: absolute;
  top: -34px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.l_ant{
  /* this sets the position of the left antena of the android  */
  left: 50px;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
}
.r_ant{
  /* this sets the position of the right antena of the android  */
  right: 50px;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
}
.body{
  /* this sets the shape of the body of the android  */
  width: 220px;
  height: 184px;
  top:  40px;
  border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
}
.l_arm, .r_arm{
  /* this sets the shape of the arms of the android  */
  width: 50px;
  height: 150px;
  position: absolute;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
}
.l_arm{
  /* this sets the position of the left arm of the android  */
  right: 228px;
}
.r_arm{
  /* this sets the position of the right arm of the android  */
  left: 228px;
}
.l_leg, .r_leg{
  /* this sets the shape of the legs of the android  */
  height: 200px;
  width: 50px;
  position: absolute;
  border-radius: 0 0 25px 25px;
  -moz-border-radius: 0 0 25px 25px;
  -webkit-border-radius: 0 0 25px 25px;
}
.r_leg{
  /* this sets the position of the right leg of the android  */
  right: 40px;
  top: 40px;
}
.l_leg{
  /* this sets the position of the left leg of the android  */
  left: 40px;
  top: 40px;
}
.r_arm:hover{
  /* uses the pseudo class hover to allow for an action when moving
     the mouse over an element*/
  transform: rotate(-30deg)
             translate(25px,6px);
  /*negative left and positive right, negative up and positive down*/
  transition: transform 0.2s;
  transition-timing-function: linear;
}
.l_arm:hover{
  transform: rotate(30deg)
             translate(-25px,6px);
  transition: transform 0.2s;
  transition-timing-function: linear;
}
.head:hover {
  -moz-transform: rotate(-5deg)
                  translate(-4px ,-8px);
  -moz-transition: transform 0.2s;
  -moz-transition-timing-function: linear;
}
.leg:hover{
    /* attempt to make the android jump using css*/
  transform: translate(0px, -30px);
  -moz-transition: transform 0.1s;
  -moz-transition-delay: 0.2s;
}
